
.location-container {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.location-form {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  background-color: #f9f9f9;
}

.location-form h3 {
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 10px 0;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-add {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-update-selected {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #0056b3;
}

.location-list {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

.location-list h3 {
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

.location-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.btn-delete {
  background-color: #ff5252;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #c70000;
}

.text-danger {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.btn-update {
  background-color: #007BFF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-update:hover {
  background-color: #008ba3;
}
